.App {
  text-align: center;
  height: 100%;
  max-width: 600px;
  min-width: 400px;
  background-color: #17293C;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-container > img {
  height: 20rem;
  margin: 40px;
  border-radius: 20px;
}

.info-container > h1 {
  margin: -10px;
  font-size: 40px;
}

.info-container > h3 {
  font-weight: 400;
  color: #00FDFF;
  margin-top: 10px;
}

.skill-img {
  height: 44px;
}

.btn-container {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.email-btn {
  border: 1px solid black;
  border-radius: 7px;
  color: black;
  background-color: lightgray;
  padding: 10px 45px 10px 45px;
  text-decoration: none;
  font-weight: 500;
}

.email-btn > i,
.linkedin-btn > i {
  margin-right: 10px;
}

.email-btn:hover,
.linkedin-btn:hover {
  background-color: #00FDFF;
}

.linkedin-btn {
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  background-color: #1293d2;
  padding: 10px 45px 10px 45px;
  text-decoration: none;
  font-weight: 500;
}

.about-container,
.interests-container {
  line-height: 1.2em;
  text-align: left;
  width: 75%;
  margin: auto;
}

.about-container > p,
.interests-container > p {
  margin-top: -10px;
}

.footer-container {
  background-color: #0e1924;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  margin-top: 40px;
}

.footer-container > a {
  color: lightgray;
  margin-right: 10px;
  font-size: 40px;
}

.footer-container > a:hover {
  cursor: pointer;
  color: #00FDFF;
}



